NODE_ENV=production

AUTH_SECRET=change-me-in-production
DATABASE_PATH=/app/data/sunqar.db

MANTICORE_URL=
REDIS_CONNECTION=

GENERATE_REPORT_USERNAME=
GENERATE_REPORT_PASSWORD=
GENERATE_REPORT_URL=

DOWNLOAD_REPORT_DOC_USERNAME=
DOWNLOAD_REPORT_DOC_PASSWORD=
DOWNLOAD_REPORT_DOC_URL=

YOUTUBE_API_KEY=
