AUTH_SECRET=change-me-in-production

DATABASE_PATH=./data/sunqar.db
MANTICORE_URL=manticore-http-url
REDIS_CONNECTION=redis-connection-string

API_GATEWAY_URL=api-gateway-http-url

YOUTUBE_API_KEY=youtube-api-key
