AUTH_SECRET=change-me-in-production

REPORT_DOWNLOAD_USERNAME=
REPORT_DOWNLOAD_PASSWORD=

DATABASE_PATH=./data/sunqar.db
MANTICORE_URL=manticore-http-url

GENERATE_REPORT_URL=endpoint-for-report-generation
REDIS_CONNECTION=redis-connection-string