AUTH_SECRET=change-me-in-production

DATABASE_PATH=./data/sunqar.db
MANTICORE_URL=manticore-http-url
REDIS_CONNECTION=redis-connection-string

API_GATEWAY_URL=api-gateway-http-url
SOURCES_GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1JzK8P5Lkk2cPoCG9kctQqT2gHmQ0O5cX04BAAnilSzw

YOUTUBE_API_KEY=youtube-api-key
