NODE_ENV=production

AUTH_SECRET=change-me-in-production
DATABASE_PATH=/app/data/sunqar.db

MANTICORE_URL=
REDIS_CONNECTION=

API_GATEWAY_URL=
SOURCES_GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1JzK8P5Lkk2cPoCG9kctQqT2gHmQ0O5cX04BAAnilSzw

YOUTUBE_API_KEY=
