.home-page-chart-range-selector {
  width: 10rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
}

.home-page-chart-range-selector [role="listbox"],
.home-page-chart-range-selector [role="option"] {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
}
